*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%
}

body{
    background: #eee;
}

li,a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width:90%;
    max-width:1400px;
    margin:auto;
  
    

}
.logo{
    width:10%;
    margin-right: 30px;

}
.header{
    height:100vh;
    width:100%;
    background: url('image/bg.jpg')no-repeat center center/cover;
    position: relative;
       
}
header::before{
   content: '';
   position:absolute;
   height:100%;
   width:100%;
   top:0;right:0;bottom:0;left:0;
   z-index: 1;
   background-color: rgba(0,0,0,0.6);
}
.header .container{
    position: relative;
    z-index:1;
    color:white;
    text-align: center;
}

.main-nav{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-links{
    color:rgb(139, 216, 235);
    padding:0 1rem;
    font-weight:600;
    font-size:18px;
    font-family:'Courier New', Courier, monospace
}

.nav-links:hover{
    background-color: #eee;
}
.nav-link-btn{
     display: inline-block;
    padding:1.5rem 2.5rem;
    border:2px solid orangered;
    border-radius: 10rem;
    font-size:18px;
    color:black;
   
    background: #fff;


}
.hero-text{
    margin-top:30rem;
    text-align:center

}
.primary-heading{
    font-size:5rem;
    color:aqua;
    text-align: center;
}
.primary-text{
    font-size:2rem;
    text-align: center;
    margin-top:2rem

}

.hero-btn{
    display: inline-block;
    padding:1rem 2rem;
    border:2px solid orangered;
    border-radius: 10rem;
    font-size:18px;
    color:black;
    margin-top: 1.5rem;
    background: transparent;
}
.hero-btn:hover,.nav-link-btn:hover{
    background: orangered;
    color:white
}
.service-section{
    margin: 3rem 0;
}
.services{
    display: flex;
    justify-content: center;
    gap:6rem;
     padding:0 2rem;
     background:inherit ;
     box-shadow: 0 .4rem .6rem rgba(0,0,0,0.1);
}
.service-items{
    width:25rem;
    height:25rem;
    border:2px solid black;
    border-radius: 50%;
    text-align: center;
  padding:9rem;
    
}
.sec-text{
    margin-top:1rem
}

.hw-container{
    display: flex;
    justify-content: center;
    gap:2rem;
     padding:0 2rem;
     background: #000;
     box-shadow: 0 .4rem .6rem rgba(0,0,0,0.1);

}
.How-it-works-items{
    width:30rem;
    height:30rem;
    background: #fff;
    border:2px solid black;
    border-radius: 2rem;
    text-align: center;
    padding:9rem;
    margin:4rem

}
.About-us-section{
    margin:6rem;
    color:aqua;
    font-size: 2rem;
}
.missiontext-container{
    width:50%;
    color:rgb(2, 49, 49);
    margin: 0 auto
}

.section-why-us{
    margin:3rem 2rem
}
.why-container{
    background: #000;
    height:40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10rem;
    color:#fff;
    border-radius: 2rem;
    padding:10rem;
    position: relative;
    overflow: hidden;

}
.why-container::before{
    content:'';
    position:absolute;
    top:0;bottom: 0;right: 0;
    width:60%;
    background: radial-gradient(circle at 80% center,rgba(88,130,255,0.3),
     rgba(150,80,255,0.3),
    transparent 70% );
    z-index:0
}
.stats-box{
    flex:1;
    border-left:1px solid rgba(255,255,255,0.1);
    padding-left:4rem
}


.why-text,.stats-items{
    z-index:1;position: relative;
}
.stats-items{
   
 margin: 2rem 0;
 font-size:2rem;
    
}
.stats-items span{
    display: block;
    font-size:.9rem;
    opacity:0.7
}

/*FAQ*/



:root{   
--White:hsl(0, 0%, 100%);
--Light-pink: hsl(275, 100%, 97%);
--Grayish-purple: hsl(292, 16%, 49%);
--Dark-purple: hsl(292, 42%, 14%);
}
.FAQ-section{
    margin:2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:40%;
    background:#c92929;
    border-radius:2rem;
    margin:2rem auto;
    padding:2rem;
     box-shadow: 0 .4rem .6rem rgba(0,0,0,0.1);
}
.faQ-heading{
  font-size:4rem
}
span{
    display:flex;
    align-items: center;
    gap:2rem;
    margin:2.4rem 3.2rem;
    font-size:4rem;
    margin-bottom:5rem
}
h3{
  font-size:3rem;
  font-weight:700;
}
.heading{
    display:grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    margin-top:2rem;
    margin-bottom:4.4rem;
    line-height:1.7;    
    
}
h4{
    font-weight:600;
    font-size:3rem;

}
button{
    border:none;
    background: none;
}
.icon-btn{
    width:4.4rem;
    height:4.4rem
}
button .close{
    display: none;
}
.item{
    border-bottom:2px solid var(--Light-pink) ;
    border-bottom-style: ridge;

}
item:last-child{
    border-bottom:2px solid var(--Light-pink)
}
.hidden-box{
    display:none;
    margin-bottom:3rem
}

.hidden-box p{
    

    font-size:2.8rem;
    background-color: var(--White);
    line-height:1.6;
    color:var(--Grayish-purple);
    padding:1.3rem 0;
     

}
.open .hidden-box{
    display:block
}


/*****ENDS here**/



footer{
    background: #000;
    color:#eee;
    padding-top:2rem
}

.footer-logo{
    width:4%}